@import 'tailwindcss';

@theme inline {
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
}

@font-face {
  font-family: Inconsolate;
  src: url('/src//assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf');
}

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-foreground: #FF8C00;
  --color-background: #000000;
  --color-primary: #FF8C00;
}

body {
  font-family: 'Inconsolata', monospace;
  color: var(--color-foreground);
  background: var(--color-background);
}